{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Make{% endblock  %}

{% block content %}

<h1 class="title pt-5">Car Makes</h1>
<div class="gallery">
    <form class="mb-5" method="get">
        <div class="field has-addons">
          <div class="control">
            <!--  Our input will search by name of make  -->
            <input class="input" type="text" name="name" placeholder="name" />
          </div>
          <div class="control">
            <input class="button is-success" type="submit" value="Search" />
          </div>
        </div>
        <!--  This anchor tag will redirect back to make list without a query param -->
        <a class="button is-dark" href="{% url 'make_list' %}">Clear Search</a>
      </form>
  {% for make in makes %}
  <a href="{% url 'make_detail' make.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{make.image}}" alt="{{make.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{make.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No makes Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}